main {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-books {
  display: grid;
  gap: 3em 2em;
  grid-template-columns: repeat(auto-fit, minmax(18vw, 1fr));
  min-height: 80vh;
  background-color: #fff;
}

.pagenumbers {
  display: flex;
  justify-content: center;
}
